<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

<p>
Splurty is Neilda’s first Ruby on Rails app built through theFirehose Project. It’s meant to accomplish two things— be an experimental ground for learning the language and framework and to provide motivation during the times when you need some words to keep going and program on.</p>


<br>
<div class="col-xs-12 col-sm-4">
	<%= image_tag 'NeildaCircle.png', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Neilda Pacquing</h2>
	<br />
	<p>Neilda is a full stack developer-in-training and UX designer. She received her training in UX from General Assembly’s UX Design Immersive Program and is training to be a full stack developer from theFirehose Project. In a previous life, she worked in sales for a video streaming company for four years in Los Angeles after graduating from UCLA.</p>
</div>
</div>

<br class="clear"/>
<br />
<br />
<br />
<br />